dj-database-url==0.5.0
Django==2.2.13
django-bmemcached==0.2.4
django-heroku==0.3.1
psycopg2==2.7.5
python-binary-memcached==0.28.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typing==3.7.4.1
uhashring==1.1
whitenoise==5.0.1
